<form method="post"  class="create_edit_form">
    <h1 class="text_color">Edit {{champion.champion_name}} champion</h1>
    <!-- NAME -->
    <label>
        <p class="label-txt">CHAMPION NAME</p>
        <input type="text" class="input" name="name" id="name" disabled="readonly" value="{{champion.champion_name}}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <!-- CLASSES -->
    <label>
        <p class="label-txt">SELECT CLASSES</p>
        <select type="text" class="input" name="classes" id="classes">
            <option value="" selected disabled hidden>{{champion.champion_classes}}</option>
            <option value="Artillery">Artillery</option>
            <option value="Assassin">Assassin</option>
            <option value="Battlemage">Battlemage</option>
            <option value="Burst">Burst</option>
            <option value="Catcher">Catcher</option>
            <option value="Diver">Diver</option>
            <option value="Enchanter">Enchanter</option>
            <option value="Juggernaut">Juggernaut</option>
            <option value="Marksman">Marksman</option>
            <option value="Skirmisher">Skirmisher</option>
            <option value="Specialist">Specialist</option>
            <option value="Vanguard">Vanguard</option>
            <option value="Warden">Warden</option>
        </select>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <!-- RELEASE DATE -->
    <label>
        <p class="label-txt">RELEASE DATE</p>
        <input type="text" class="input" name="release" id="release" disabled="readonly" value="{{champion.champion_release_date}}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <!-- BLUE ESSENCE -->
    <label>
        <p class="label-txt">SELECT BLUE ESSENCE</p>
        <select type="text" class="input" name="essence" id="essence">
            <option value="" selected disabled hidden>{{champion.champion_blue_essence}}</option>
            <option value="450">450</option>
            <option value="1350">1350</option>
            <option value="3150">3150</option>
            <option value="4800">4800</option>
            <option value="6300">6300</option>
        </select>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <!-- RP -->
    <label>
        <p class="label-txt">SELECT RP</p>
        <select type="text" class="input" name="rp" id="rp">
            <option value="" selected disabled hidden>{{champion.champion_rp}}</option>
            <option value="260">260</option>
            <option value="585">585</option>
            <option value="790">790</option>
            <option value="880">880</option>
            <option value="975">975</option>
        </select>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button>Edit</button>
</form>