<br/>
{{#if user}}
    <h5><a href="/champions/create">Add a new champion</a></h5>
    <br/>
{{/if}}
<div class="table-responsive">
    <table class="table sortable table-striped text-center">
        <thead>
        <tr class="table-dark" id="color_red">
            <th>Champion Name</th>
            <th>Image</th>
            <th>Classes</th>
            <th>Release Date</th>
            <th>Blue Essence</th>
            <th>RP</th>
            <th>Action</th>
        </tr>
        </thead>
        {{#each champions}}
            <tbody>
            <tr>
                <td id="td_index">{{this.champion_name}}</td>
                <td><img id="default_img_size" src="/images/{{this.champion_img}}" alt="..."></td>
                <td id="td_index">{{this.champion_classes}}</td>
                <td id="td_index">{{this.champion_release_date}}</td>
                <td id="td_index">{{this.champion_blue_essence}}</td>
                <td id="td_index">{{this.champion_rp}}</td>
                {{#if ../user}}
                    <td><a href="champions/edit/{{this._id}}" class="btn btn-info text-light"><i class="fa fa-edit fa-lg mx-1"></i></a>
                        <a href="champions/delete/{{this._id}}" class="btn btn-danger text-light" onclick="return confirmDelete()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a href="champions/privateSkin/{{this._id}}" class="btn btn-warning text-light"><i class="fas fa-tshirt"></i></a>
                    </td>
                {{/if}}
            </tr>
            </tbody>
        {{/each}}
    </table>
</div>