<br/>
{{#if user}}
    <h5><a href="#add_new_skin">Add a new skin for {{champion.champion_name}}</a></h5>
    <br/>
{{/if}}
<div class="champ_img">
    <img src="/images/{{champion.champion_img}}" alt="...">
</div>
<hr id="hr">

<section class="row card-group">
    {{#each champion.skins}}
            <div class="col-6 .col-md-4">
                <div class="card-body">
                    <h2 id="skin_name">{{this.skin_name}}</h2>
                    <img id="default_skin_img" src="/images/{{this.skin_img}}" alt="...">
                    <h4>Type: {{this.skin_type}}</h4>
                    <h4>Release Date: {{this.skin_release_date}}</h4>
                    <h4>RP: {{this.skin_rp}}</h4>
                </div>
                <br/>
            </div>
    {{/each}}

</section>
<hr id="hr">

<section id="add_new_skin">
    <form method="post" enctype="multipart/form-data" action="/champions/add-skins/{{champion._id}}" class="create_edit_form">
        <h1 class="text_color">Add a new Skin for {{champion.champion_name}}</h1>
        <!-- SKIN NAME -->
        <label>
            <p class="label-txt">ENTER SKIN NAME</p>
            <input type="text" class="input" name="skin_name" id="skin_name" required>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <!-- SKIN RELEASE DATE -->
        <label>
            <p class="label-txt">ENTER RELEASE DATE</p>
            <input type="text" class="input" name="skin_release_date" id="skin_release_date" required>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <!-- SKIN TYPE -->
        <label>
            <p class="label-txt">SELECT TYPE</p>
            <select type="text" class="input" name="skin_type" id="skin_type">
                <option value="Ultimate">Ultimate</option>
                <option value="Mythic">Mythic</option>
                <option value="Legendary">Legendary</option>
                <option value="Epic">Epic</option>
                <option value="Legacy">Legacy</option>
            </select>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <!-- SKIN RP -->
        <label>
            <p class="label-txt">ENTER RP: </p>
            <input type="text" class="input" name="skin_rp" id="skin_rp" required>
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <!-- IMAGE -->
        <label>
            <p class="label-txt">CHOOSE FILE</p>
            <input type="file" class="input" name="image" id="image">
        </label>
        <button>Create</button>
    </form>
</section>